/*Probando para poder poner una ventana emergente*/

    /*Para bloquear los botones de las secciones y la descarga de la base de datos*/

    .disabled-link {
        pointer-events: none;
        opacity: 0.5;
    }

    /*Para modificar la parte de alrededor de la ventana emergente*/
    
    .window-notice {
        background: rgb(0, 0, 0);
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: flex;
        position: fixed;
        z-index: 999;
    }

    /*Para modificar el contenido que va dentro de la ventana emergente*/

    .window-notice .content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    }

/*Fuente de google para todos los textos*/

    .solitreo-regular{
        font-family: "Solitreo", cursive;
        font-weight: 400;
        font-style: normal;
    }
  
/*Ajuste de los campos y botones para escribir en los formularios principales*/
    
    /*Formulario primario de los trabajadores */

    #registro_trabajador .boton_enviar{
        background-color: #198754;
        color: #ffffff;
    }

    #registro_trabajador input, #registro_trabajador select{
        background-color: #aaaaa6;
    }

    #registro_trabajador label{
        color: #7ab82c;
    }

    #tabla_usuarios{
        border-radius: 10px;
        max-height: 37vh;
    }

    #tabla_usuarios table{
        width: 150vw;
    }

    /*Formulario secundario de los equipos*/

    #registro_equipo .boton_enviar{
        background-color: #198754;
        color: #ffffff;
    }

    #registro_equipo input, #registro_equipo select{
        background-color: #aaaaa6;
    }

    #registro_equipo label{
        color: #7ab82c;
    }

    #tabla_equipo{
        border-radius: 10px;
        max-height: 37vh;
    }

    #tabla_equipo table{
        width: 280vw;
    }

    /*Formulario Terciario del histórico*/

    #registro_historial .boton_enviar{
        background-color: #198754;
        color: #ffffff;
    }

    #registro_historial input, #registro_historial select,
     #registro_historial textarea{
        background-color: #aaaaa6;
    }

    #registro_historial label{
        color: #7ab82c;
    }

    #tabla_historico{
        border-radius: 10px;
        max-height: 35vh;
    }

/*Ajuste de los campos de las tablas de la consulta general*/

    #tablas h3, #tablas h4{
        color: #ffffff;
    }

    #Consulta_form label{
        color: #ffffff;
    }

    #Consulta_form input{
        background-color: #8f8f8e;
        color: #ffffff;
    }

/*Estilos y animaciones de los botones de la barra de navegación*/

    nav{
        background-color: #cfcdcd;
    }

    .navbar-nav{
        margin-right: 5vh;
    }

    .navbar-nav .nav-link{
        color: #000000;
        padding: 2vh;
        background-color: #9ec4ce;
    }

    .navbar-nav .nav1{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .navbar-nav .nav4{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /*Efecto de colores en los botones de las secciones y de la descarga */

    .navbar-nav .nav1:hover {
        background-color: #0077ff;
        color: #ffffff;
    }

    .navbar-nav .nav2:hover {
        background-color: #bd0771;
        color: #ffffff;
    }

    .navbar-nav .nav3:hover {
        background-color: #ff7b00;
        color: #ffffff;
    }

    .navbar-nav .nav4:hover {
        background-color: #13ac5f;
        color: #ffffff;
    }

/*Estilos y animaciones de los botones de los formularios y los modales*/

    #boton_enviar:hover, #boton_guardar_cambios:hover{
        background-color: #ff5e00;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
    }

    #boton_descargar:hover{
        background-color: #7700ff;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
    }

    #boton_limpiar:hover, #boton_cerrar:hover{
        background-color: #000000;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
    }

    #boton_buscar:hover{
        background-color: #0be076;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
    }